.block1 {
    width: 200px;
    height: 150px;
    background: #ea00ff;
}

.block2 {
    width: 200px;
    height: 150px;
    background: #da0909;
}

.block3 {
    width: 200px;
    height: 150px;
    background: #1ec1d7;
}